.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e01f35;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cb192e;
  color: #ffffff;
}

.button:focus {
  border: none !important;
  outline: none !important;
}

.button:disabled {
  background-color: #b7b7b7;
}

.button-desktop {
  display: none;
}

.button-selection {
  width: 100%;
}

.button-order {
  width: 137px;
}

.button-order:not(:last-child) {
  margin-right: 25px;
}

.button-reset {
  border: 2px solid #e01f35;
  background-color: transparent;
  color: #171717;
}

.button-reset:hover {
  border: 2px solid #cb192e;
}

.button-reset:focus {
  border: 2px solid #cb192e !important;
}

.button-reset-card {
  width: 100%;
  padding: 3px 25px;
}

.button-feedback {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 15px 50px;
  color: #2d245b;
  background-color: #e9e9e9;
}

.button-feedback:hover {
  background-color: #cacaca;
}

.button-mobile-wrapper {
  margin-bottom: 40px;
}

.button-stock-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .button-selection {
    width: 110px;
    margin-right: 25px;
  }

  .button-mobile-wrapper {
    display: none;
  }

  .button-desktop {
    display: inline-flex;
    margin: 0 30px 0 0;
  }

  .button-reset-list {
    max-width: 110px;
    width: 110px;
  }
}
