.button {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #e01f35;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover,
.button-call:hover,
.selection-button:hover,
.button-stock:hover {
  text-decoration: none;
  background-color: #cb192e;
}

.button-stock:focus {
  background-color: #cb192e;
}

.button-call {
  display: block;
  text-align: center;
  padding: 7px 89px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e01f35;
  border: none;
}

.button-stock {
  display: block;
  text-align: center;
  font-weight: 700;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #e01f35;
  padding: 8px 23px;
}

.button-wrapper {
  padding: 0 40px;
  margin-bottom: 50px;
}

.button-call:focus {
  outline: 0px;
}

.button-desktop {
  display: none;
}

.button-card {
  margin: 0;
  padding: 8px 28px;
}

.button-feedback {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 15px 50px;
  color: #2D245B;
  background-color: #E9E9E9;
}

.button-feedback:hover {
  background-color: #cacaca;
}

@media (min-width: 768px) {
  .button {
    display: none;
  }

  .button-desktop {
    display: block;
    margin: 0 30px 0 0;
  }

  .button-call-desktop {
    padding: 7px 20px;

    &:hover {
      background-color: #cb192e;
      color: #ffffff;
    }
  }

  .button-card {
    display: block;
  }

  .button-feedback {
    display: block;
  }
}

@media (min-width: 1200px) {
  .button-stock {
    width: 230px;
    margin: 0 auto;
  }
}
