.promo {
  position: relative;
  z-index: -10;
}

.promo-img {
  width: 100%;
  height: auto;
}

.promo-block {
  position: absolute;
  top: 152px;
  padding: 0 15px;
  margin: 0;
  align-items: center;
  color: #ffffff;
}

.promo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 15px;
}

.promo-adress {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
