.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 35px;
}

.breadcrumb-link {
  color: #171717;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus,
.breadcrumb-link:active {
  color: #171717;
  text-decoration: none;
}

.breadcrumb-link-index:hover,
.breadcrumb-link-index:focus,
.breadcrumb-link-index:active {
  color: #e01f35;
  text-decoration: none;
}

.breadcrumb-link-index {
  color: #e01f35;
}

@media (min-width: 1200px) {
  .breadcrumb {
    padding: 0;
  }
}
