.about {
  padding: 0 15px;
}

.about-text {
  font-size: 18px;
  line-height: 23px;
  color: #171717;
}

.about-title {
  font-weight: 700;
  font-size: 30px;
  color: #2D245B;
  margin-bottom: 14px;
}

.about-subtitle {
  font-size: 18px;
}

.about-wrap {
  margin-bottom: 30px;
}

.about-list {
  margin: 0 -15px;
}

.about-item {
  margin-bottom: 25px;
}

.about-block {
  margin-bottom: 30px;
}

.about-text:not(:last-child) {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .about {
    padding: 0 15px;
  }

  .about-title {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 0;
  }

  .about-row {
    margin: 0 -15px;
  }
}
