.reviews {
  padding: 0 15px;
}

.reviews-row {
  margin: 0 -15px;
}

.reviews-text {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.reviews-title {
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 30px;
}

.reviews-img {
  margin-bottom: 20px;
}

.reviews-swiper {
  margin-bottom: 30px;
}

.reviews-icon {
  position: relative;
}

.reviews-icon::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 140px;
  background-image: url("/src/images/reviews-arrow.svg");
}

@media (min-width: 768px) {
  .reviews {
    padding: 0 15px;
  }

  .reviews-img {
    margin-right: 35px;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding: 0;
  }

  /*.reviews-swiper {
    margin-bottom: 50px;
    padding-right: 65px;
    padding-left: 65px;
  }*/

  .reviews-img {
    margin-right: 60px;
  }
}
