.contact {
  padding: 0 15px;
}

.contact-row {
  margin: 0 -15px;
}

.contact-map {
  margin-bottom: 30px;
}

.contact-block {
  font-size: 18px;
  line-height: 23px;
  color: hsl(0, 0%, 9%);
  margin-bottom: 20px;
}

.contact-block-tel {
  display: flex;
  flex-direction: column;
}

.contact-subtitle {
  font-weight: 700;
}

.contact-number {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #171717;
}

.contact-number:hover {
  text-decoration: underline;
}

.contact-wa {
  width: 30px;
  height: 30px;
}

.contact-button {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contact {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding: 0;
  }
}