.contact-row {
  margin: 0 -15px;
}

.contact-title {
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 35px;
}

.contact-map {
  margin-bottom: 30px;
}

.contact-block {
  font-size: 18px;
  line-height: 23px;
  color: #171717;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-weight: 700;
}

.contact-number {
  text-decoration: underline;
  margin-bottom: 10px;
}

.contact-wa {
  width: 30px;
  height: 30px;
}

.contact-button {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contact {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
  }
}

@media (min-width: 1520px) {
  .contact {
    padding-right: calc(50% - 760px);
    padding-left: calc(50% - 760px);
  }
}
