.info-title {
  margin-bottom: 10px;
}

.info-subtitle {
  margin-bottom: 10px;
  font-size: 30px;
}

.info-heading {
  margin-bottom: 10px;
  font-size: 26px;
}

.info-head {
  margin-bottom: 10px;
  font-size: 22px;
}

.info-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-list {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-link {
  color: #e01f35;
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
  color: #0058dd;
}

.table-text {
  color: #000000;
  font-size: 14px;
  text-align: justify;
}

.table-link {
  margin: 0px 5px;
  padding: 0px;
  color: #000000;
  font-size: 14px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
