.info {
  padding: 0 15px;
}
.info-wrapper {
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 26px;
  }
  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  ul {
    font-size: 18px;
    margin-bottom: 10px;
  }
  ol {
    font-size: 18px;
    margin-bottom: 10px;
  }
  a {
    color: #e01f35;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #0058dd;
  }
  .table {
    td {
      span {
        color: black;
        font-size: 14px;
        text-align: justify;
      }
      a {
        margin: 0 5px;
        padding: 0;
        color: black;
        font-size: 14px;
        text-align: center;
        background-color: white;
      }
    }
  }
}

@media (min-width: 768px) {
  .info-wrapper {
    width: 768px;
  }
  .info {
    padding: 0 15px;
  }
}

@media (min-width: 820px) {
  .info-wrapper {
    width: 820px;
  }
}

@media (min-width: 912px) {
  .info-wrapper {
    width: 912px;
  }
}

@media (min-width: 1024px) {
  .info-wrapper {
    width: 1024px;
  }
}

@media (min-width: 1200px) {
  .info-wrapper {
    width: 1200px;
  }
  .info {
    padding: 0;
  }
}

@media (min-width: 1520px) {
  .info-wrapper {
    width: 1520px;
  }
  .info {
    padding: 0;
  }
}
