.card {
  margin-bottom: 35px;
}

.card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #2d245b;
  padding: 10px 15px 30px 15px;
}

.card-list {
  padding: 0 10px;
}

.row {
  margin: 0;
}

.row::before {
  display: block;
  content: none;
}

.card-block {
  padding: 0 5px !important;
}

.card-item {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #d3d3d3;
  border-radius: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-btn {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #171717;
  background-color: #ffffff;
  border: 2px solid #e01f35;
}

.card-btn:active {
  color: #ffffff;
}

.card-btn:hover {
  color: #ffffff;
  border: 2px solid #e01f35;
  background-color: #cb192e;
}

.card-btn:focus {
  background-color: #cb192e;
}

.card-img {
  position: relative;
  margin: 0;
  padding: 10px 25px 15px 25px;
}

.card-item::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 24px;
  top: 10px;
  left: 9px;
  background-image: url("../../images/new.svg");
  z-index: 1;
}

.thumbnail .caption {
  padding: 15px 9px;
}

.card-name {
  font-size: 14px;
  line-height: 18px;
  color: #171717;
  margin-bottom: 11px;
}

.card-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e01f35;
  margin-bottom: 15px;
}

.card-block-mobile {
  display: none;
}

.btn-primary:active {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .card-list {
    margin-bottom: 50px;
  }

  .card-block-mobile {
    display: block;
  }
}

@media (min-width: 1200px) {
  .card {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
  }

  .card-block {
    padding: 0 20px !important;
  }

  .card-item {
    padding: 20px;
  }

  .thumbnail .caption {
    padding: 0;
  }

  .card-name {
    font-size: 15px;
    line-height: 19px;
  }

  .card-title,
  .card-list {
    padding-left: 0;
    padding-right: 0;
  }

  .card-list {
    margin: 0 -20px;
  }

  .card-block {
    padding: 0 30px;
  }
}

@media (min-width: 1520px) {
  .card {
    padding-right: calc(50% - 760px);
    padding-left: calc(50% - 760px);
  }
}
