#accordion {
  margin: auto;
  max-width: 500px;
}

.panel-heading a {
  display: block;
  position: relative;
  font-weight: bold;

  &::after {
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
  }

  &[aria-expanded="true"]::after {
    transform: rotate(-135deg);
    top: 5px;
  }
}

.panel {
  position: relative;
  background-color: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}

.panel-title {
  position: relative;
}

.panel-title::before,
.panel-title::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 8px;
  right: 0;
  top: 8px;
  background-image: url("/src/images/dropdown-arrow.svg");
  transition: all 0.3s ease 0s;
  background-repeat: no-repeat;
  background-size: contain;
}

.panel-title.active:before,
.panel-title.active:after {
  transform: rotate(180deg);
}

.panel-heading {
  padding: 15px 0;
  border-bottom: transparent;
}

.panel-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2d245b;
}

.panel-title a:hover,
.panel-title a:focus,
.panel-title a:active {
  color: #2d245b;
  text-decoration: none;
}

.panel-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #171717;
  padding: 15px 158px 15px 0;
  margin: 0;
  cursor: pointer;
}

.panel-label-disabled {
  color: #b7b7b7;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.panel-price-inputs {
  display: flex;
  justify-content: space-between;
}

.panel-price-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  padding: 0 11px;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}

.panel-price-label:not(:last-child) {
  margin-right: 24px;
}

.panel-price-input {
  font-weight: 700;
  color: #757575;
  border: none;
}

.panel-price-input:focus {
  outline: none;
}

.panel-price-range {
  position: relative;
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #e01f35;
  margin-top: 4px;
  margin-bottom: 18px;
}

.panel-price-range::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #e01f35;
  border-radius: 50%;
  top: -2px;
  left: 0;
}

.panel-price-range::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #e01f35;
  border-radius: 50%;
  top: -2px;
  right: 0;
}

.panel-checkbox {
  display: none;
}

.panel-checkbox-disabled {
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
}

.panel-fake {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 3px;
  margin-right: 14px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.panel-fake::before {
  content: "";
  position: absolute;
  display: block;
  width: 9px;
  height: 7px;
  background-image: url("/src/images/checkbox.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.panel-checkbox:checked + .panel-fake::before {
  opacity: 1;
}

.panel-body {
  padding: 0;
  height: 160px;
  overflow: scroll;
}

.panel-price-slider {
  height: auto;
  overflow: hidden;
}

.panel-default {
  border-bottom: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}

.panel-group .panel + .panel {
  margin: 0;
}

.panel-group .panel {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 7px;
}

@media (min-width: 768px) {
  .panel-label {
    width: 100%;
    padding: 3px 15px 15px 0;
  }

  .panel-price-label {
    padding: 0;
  }
}
