<!-- footer begin -->
  <footer class="footer">
    <div class="foot-top">
      <div class="container"></div>
    </div>
    <div class="container">
      <div class="row footer-wrapper">
        <div class="middle-footer">
          <div class="col-sm-3 footer-item">
            <p class="footer-info">Диски & Шины от Федота © 2022</p>
            <p class="footer-info">ИП Иванов</p>
            <p class="footer-info">ИНН: 2221066669473</p>
            <p class="footer-info">Не является публичной офертой</p>
            <a class="footer-link" href="">Политика конфиденциальности</a>
            <a class="footer-link" href="">
              Согласие на обработку персональных данных
            </a>
          </div>
          <div class="col-sm-3 footer-item">
            <h5 class="footer-title">Покупателю</h5>
            <a class="footer-link" href="#">Оплата и доставка</a>
            <a class="footer-link" href="#">Гарантии</a>
            <a class="footer-link" href="#">Вопрос-ответ</a>
            <a class="footer-link" href="#">Новинки</a>
          </div>
          <div class="col-sm-3 footer-item">
            <h5 class="footer-title">О магазине</h5>
            <a class="footer-link" href="#">Новости</a>
            <a class="footer-link" href="/about.html">О нас</a>
          </div>
          <div class="col-sm-3 footer-item">
            <h5 class="footer-title">Наши контакты</h5>
            <a class="footer-link" href="tel:+79833884506">+7‒983‒388‒45‒06</a>
            <a class="footer-link" href="email:akaz@fedot22.ru">zakaz@fedot22.ru</a>
            <a class="footer-link" href="#">
              Барнаул, ​Рыбозаводской проезд, 42
            </a>
          </div>
          <div class="col-sm-3 footer-item">
            <a class="footer-link footer-link-wa" href="#">
              Написать в WhatsApp
            </a>
            <a class="footer-link" href="tel:+79833884506">
              <img class="footer-img" src="../images/whatsapp.svg" alt="Whatsapp" />
            </a>
          </div>
          <div class="col-sm-3 footer-item">
            <a class="footer-link footer-link-email" href="https://catda.ru/">
              Разработка сайта
            </a>
            <a class="footer-img" href="https://catda.ru/">
              <img src="../images/catafot.svg" alt="Catafot" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->