<!-- navbar start -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <a class="navbar-brand navbar-logo" href="/">
          <picture>
            <source media="(min-width: 1200px)" srcset="../images/logo-desktop.svg" />
            <img class="" src="../images/logo-mobile.svg" alt="Logo" />
          </picture>
        </a>
        <div class="navbar-tel-mobile">
          <a class="navbar-number-mobile" href="tel:+79833884506">
            +7‒983‒388‒45‒06
          </a>
        </div>
        <div class="navbar-contact">
          <p class="navbar-country">Барнаул,​</p>
          <p class="navbar-adress">Рыбозаводской проезд, 42</p>
        </div>
        <div class="button button-desktop">
          <a href="" class="button-call button-call-desktop">
            Обратный звонок
          </a>
        </div>
        <div class="navbar-tel navbar-tel-desktop">
          <a class="navbar-number" href="tel:+79833884506">+7‒983‒388‒45‒06</a>
          <a class="navbar-wa" href="#">
            <img src="../images/whatsapp.svg" alt="Whatsapp" />
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="navbar-item">
            <a class="navbar-link" href="/catalog.html">
              Диски
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/catalog.html">Шины</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/reviews.html">Отзывы</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#">Как купить</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/delivery.html">Оплата и доставка</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/about.html">О нас</a>
          </li>
        </ul>
        <div class="feedback">
          <a class="feedback-link" href="#">Написать в WhatsApp</a>
          <a class="feedback-wa" href="tel:+79833884506">
            <img src="../images/whatsapp.svg" alt="Whatsapp" />
          </a>
        </div>
        <div class="button button-mobile">
          <a href="" class="button-call button-call-mobile">
            Обратный звонок
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar end -->