<!-- review start -->
<section class="review">
  <div class="row review-container">
    <h1 class="review-title">
      11 лет продаем диски и шины от Федота на Дроме и Авито
    </h1>
    <div class="review-wrapper">
      <div class="col-sm-6 reviews-block">
        <div class="review-items">
          <div class="review-item">
            <a class="review-link" href="#">
              <picture>
                <source media="(min-width: 1200px)" srcset="../images/drom-desktop.svg" />
                <img class="review-img" src="../images/drom-mobile.svg" alt="Drom" />
              </picture>
            </a>
          </div>
        </div>
        <div class="review-items">
          <div class="review-item">
            <p class="review-rating">1 272 (99,5%)</p>
            <p class="review-name">Рейтинг на Дроме</p>
          </div>
          <div class="review-item">
            <a class="review-view" href="#">Посмотреть отзывы</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 reviews-block">
        <div class="review-items">
          <div class="review-item">
            <a class="review-link" href="#">
              <picture>
                <source media="(min-width: 1200px)" srcset="../images/avito-desktop.svg" />
                <img class="reviews-img" src="../images/avito-mobile.svg" alt="Avito" />
              </picture>
            </a>
          </div>
        </div>
        <div class="review-items">
          <div class="review-item">
            <p class="review-rating">4,9 (162 оценок)</p>
            <p class="review-name">Рейтинг на Авито</p>
          </div>
          <div class="review-item">
            <a class="review-view" href="#">Посмотреть отзывы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- review end -->