.card-row {
  margin: 0 -15px;
}

.card-price-row {
  margin-bottom: 40px;
}

.card-catalog-row:not(:last-child) {
  margin-bottom: 30px;
}

.card-catalog-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #2d245b;
  margin-bottom: 35px;
}

.card-panel-catalog {
  position: static;
  margin-bottom: 14px;
}

.card-img-big {
  margin-bottom: 10px;
}

.card-img-small {
  margin-bottom: 30px;
}

.card-border-big {
  border: 1px solid #ededed;
  padding-bottom: 26px;
  margin-bottom: 10px;
}

.card-border-small {
  border: 1px solid #ededed;
  padding: 8px 0;
}

.card-catalog-img {
  width: 100%;
}

.card-catalog-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card-catalog-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #e01f35;
}

.charact-list {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  font-weight: 400;
}

.charact-item {
  display: flex;
  flex-direction: row;
  font-size: 16.7067px;
  line-height: 129.7%;
  color: #171717;
}

.charact-name {
  display: flex;
  flex: 1 1 50%;
  align-items: baseline;
  font-weight: 400;
  margin-right: 12px;
}

.charact-number {
  display: flex;
  flex: 1 1 0;
}

.charact-name::after {
  content: "";
  display: block;
  flex: 1 1 0;
  margin: 0 12px;
  border-bottom: 1px dashed #e1e2e5;
}

.card-catalog-text {
  font-size: 16px;
  line-height: 129.7%;
  color: #171717;
}

.card-text-block:not(:last-child) {
  margin-bottom: 30px;
}
.card-catlog-text {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .card-catalog-row {
    padding: 0 15px;
  }

  .card-catalog-prices {
    justify-content: normal;
  }

  .card-catalog-price {
    margin-right: 30px;
  }

  .charact-name {
    flex: 1 1 25%;
  }
}

@media (min-width: 1200px) {
  .card-panel-catalog {
    position: absolute;
    width: 95px;
    top: 0;
  }

  .card-catalog-row {
    padding: 0;
  }

  .card-catalog-prices {
    margin-bottom: 37px;
  }

  .card-catalog-text {
    line-height: unset;
  }

  .charact-list {
    width: 70%;
    margin-bottom: 40px;
  }

  .charact-item:not(:last-child) {
    margin-bottom: 17px;
  }

  .charact-number {
    flex: 1 1 0;
  }

  .charact-name {
    flex: 1 1 60%;
  }

  .card-price-row {
    padding: 0 20px;
  }

  .card-img-row {
    padding: 0 20px;
  }

  .card-border-big {
    padding: 69px 0;
    margin-bottom: 15px;
  }
}
.card-catalog {
  .card-img-link {
    cursor: zoom-in;
  }
}
