.stock-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #2d245b;
  padding: 0 15px 30px 15px;
}

.stock-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 30px;
}

.col-md-3 {
  padding: 0;
}

.stock-item-mobile {
  display: none;
}

.stock-list-mobile {
  display: none;
}

@media (min-width: 768px) {
  .stock-item-mobile {
    display: block;
  }

  .stock-list {
    width: auto;
  }

  .stock-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 820px) {
  .stock-img {
    width: 375px;
  }
}

@media (min-width: 1024px) {
  .stock-img {
    width: 475px;
  }
}

@media (min-width: 1200px) {
  .stock {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
  }

  .stock-img {
    width: auto;
  }

  .stock-list-mobile {
    display: block;
  }

  .stock-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 0;
  }
}

@media (min-width: 1520px) {
  .stock {
    padding-right: calc(50% - 760px);
    padding-left: calc(50% - 760px);
  }
}
