.stock-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #2d245b;
  padding: 0 15px 30px 15px;
}

.stock-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px;
  margin-bottom: 30px;
}

.col-md-3 {
  padding: 0;
}

.stock-item-mobile {
  display: none;
}

@media (min-width: 768px) {
  .stock-item-mobile {
    display: block;
  }

  .stock-list {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .stock {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
  }

  .stock-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 0;
  }
}

@media (min-width: 1520px) {
  .stock {
    padding-right: calc(50% - 760px);
    padding-left: calc(50% - 760px);
  }
}
