.stock-title {
  padding: 0 15px;
}

.stock-wrapper {
  padding: 0 15px;
  margin-bottom: 30px;
}

.img-responsive {
  width: 100% !important;
}

.stock-item {
  display: none;
}

.stock-item-1,
.stock-item-2
{
  display: block;
}

@media (min-width: 768px) {
  .stock-title {
    margin-bottom: 35px;
    padding: 0 15px;
  }

  .stock-item {
    padding-bottom: 15px;
  }

  .stock-item-3,
  .stock-item-4,
  {
    display: block;
  }
}

@media (min-width: 1200px) {
  .stock-title {
    padding: 0;
  }

  .stock-wrapper {
    padding: 0;
  }
}