body {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #2d245b;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #2d245b;
    margin-bottom: 35px;
  }
}

a:hover,
a:focus {
  color: initial;
  text-decoration: none;
}

.link {
  color: #171717;
}

.link:hover {
  color: #171717;
  text-decoration: none;
}

.text {
  font-size: 16px;
  line-height: 129.7%;
  color: #171717;
}

:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0px !important;
}

a:focus,
button:focus {
  outline: solid #767676 1px !important;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .main {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
  }
}

@media (min-width: 1520px) {
  .main {
    padding-right: calc(50% - 760px);
    padding-left: calc(50% - 760px);
  }
}
